[submodule "CMU15-445_Database_Management_System"]
	path = CMU15-445_Database_Management_System
	url = git@github.com:PeterHUistyping/CMU15-445_Database_Management_System.git
	branch = main

[submodule "MIT6.837-CG-Fall2004-Assignment"]
	path = MIT6.837-CG-Fall2004-Assignment
	url = git@github.com:PeterHUistyping/MIT6.837-CG-Fall2004-Assignment.git
	branch = main

[submodule "Operating_System"]
	path = Operating_System
	url = git@github.com:PeterHUistyping/Operating_System.git
	branch = main
